officialDemo/src/main/resources/myWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="soseng.wsdl" xmlns:xsd1="soseng.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="soseng.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="soseng.xsd" xmlns:sch="soseng.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="verifyToken"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="0" name="name" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="sid" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="verifyTokenResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="success" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element name="getToken"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="0" name="amount" type="xs:double"/><xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="getTokenResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="sid" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="refound"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/><xs:element maxOccurs="1" minOccurs="0" name="message" type="xs:string"/><xs:element maxOccurs="1" minOccurs="0" name="status" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="refoundResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="success" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="SuccessResponse">
    <wsdl:part name="body" element="xsd1:refoundResponse"/>
  </wsdl:message>
  <wsdl:message name="RefoundRequest">
    <wsdl:part name="body" element="xsd1:refound"/>
  </wsdl:message>
  <wsdl:message name="ClientTokenRequest">
    <wsdl:part name="body" element="xsd1:getToken"/>
  </wsdl:message>
  <wsdl:message name="TokenResponse">
    <wsdl:part name="body" element="xsd1:getTokenResponse"/>
  </wsdl:message>
  <wsdl:message name="ClientToken">
    <wsdl:part name="body" element="xsd1:verifyToken"/>
  </wsdl:message>
  <wsdl:portType name="Bank">
    <wsdl:operation name="verifyToken">
      <wsdl:input message="tns:ClientToken"/>
      <wsdl:output message="tns:SuccessResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getToken">
      <wsdl:input message="tns:ClientTokenRequest"/>
      <wsdl:output message="tns:TokenResponse"/>
    </wsdl:operation>
    <wsdl:operation name="refound">
      <wsdl:input message="tns:RefoundRequest"/>
      <wsdl:output message="tns:SuccessResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankSOAPBinding" type="tns:Bank">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="verifyToken">
      <soap:operation soapAction="verifyToken" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getToken">
      <soap:operation soapAction="getToken" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refound">
      <soap:operation soapAction="refound" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankService">
    <wsdl:port name="BankServicePort" binding="tns:BankSOAPBinding">
      <soap:address location="http://localhost:8000"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
